<!DOCTYPE html>
<html>
  <head>
    <title>Task Menu</title>
    <style>
      body {
     background-color: gray;
}
#list {
      margin-right: 300px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 5px;
}

    </style>
    <script>
      var aors = true;
      function request(str) {
         var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById("tasks").innerHTML = this.responseText;
            }
         };
         xhttp.open("GET", "/data/"+str, true);
         xhttp.send();
      }
      function edit(id) {
         var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById(id).innerHTML = this.responseText;
            }
         };
         xhttp.open("GET", "/edit/"+id, true);
         xhttp.send();
      }
      function editTask(json) {
      var obj = JSON.parse(json);
      var name = obj.name;
      var id = obj.studentid;
      var task = document.getElementById(obj.task).value;
        var date = document.getElementById("eYear").value + "-" + document.getElementById("eMonth").value + "-" + document.getElementById("eDay").value;
      var array = {
        id : id,
        name : name,
        task : task,
        date : date
        };
        var str = JSON.stringify(array);
        var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById("tasks").innerHTML = this.responseText;
            }
         };
         xhttp.open("GET", "/editTask/"+str, true);
         xhttp.send();

      }
      function add(name) {
         if (aors == true) {
         aors = false;
         var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById("add").innerHTML = this.responseText;
            }
         };
         xhttp.open("GET", "/add/"+name, true);
         xhttp.send();
         }
         else {
            aors = true;
            document.getElementById("add").innerHTML = "";
         }
      }
      function addTask(name) {
        var task = document.getElementById(name).value;
        var date = document.getElementById("year").value + "-" + document.getElementById("month").value + "-" + document.getElementById("day").value;
        var array = {
        name : name,
        task : task,
        date : date
        };
        var str = JSON.stringify(array);
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
            document.getElementById("add").innerHTML = "";
            aors = true;
            document.getElementById("tasks").innerHTML = this.responseText;
            }
         }
         xhttp.open("GET", "/addTask/"+str, true);
         xhttp.send();
      }
    </script>
  </head>
  <body>
    <h1>Welcome <%= userValue.name %></h1>
    <h2>Current Tasks</h2>
    <div id="tasks">
      <% for (var i = 0; i < userValue.size; i++) { %>
	 <% 
	    var today = new Date();
	    var color = "green";
	    var diffTime = userValue.object[i].duedate.getTime() - today.getTime();
	    var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

	    if (diffDays < 14) {
	      color = "goldenrod";
	      if (diffDays < 7) {
                    color = "firebrick";
              }
	      }
					      %>
	 <div style="background-color:<%= color %>;" id="list">
	 <input type="checkbox" onclick="request(<%=userValue.object[i].studentid%>)"> <button onclick="edit(<%= userValue.object[i].studentid %>)">Edit</button><%= userValue.task[i] %> <br>
	 <div id=<%= userValue.object[i].studentid %>></div></div><br>
	 <% } %>
    </div><br>
    <button onclick='add("<%= userValue.name %>")'>Add A Task</button>
    <div id="add"></div>
  </body>
</html>
